.allCard{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    margin: 0;
}
.allCard .card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 1;
    margin: 20px;
    box-shadow: 0 0 15px grey;
    border-radius: 15px;
}

.allCard .card img{
    border-style:groove;
    border-color:  rgb(184, 202, 229);
    align-self: center;
    width: auto;
    height: 200px;
}

.allCard .card a{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}


