#books {
    color: white;
    background-color: rgb(58, 93, 127);
}

.allCard .card {
    padding : 50px 80px !important;
}

.allCard .card img{
    height: 200px !important;
}

.allCard .card a{
    font-size: 17px !important;
    margin: 10px;
    position: relative;
    display: block;
    align-self: center;
    width: 120%;

}

.allCard .card p{
    font-size: 14px;
}