@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.choice2 {
    background-color: rgb(142, 197, 250) ;
}

.Knowledge-choice {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.Knowledge-choice a {
    text-decoration: none;
    color: rgb(54, 48, 98);
    padding: 8px ;
    background-color: rgb(146, 199, 253);
    width: 25%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(187, 194, 203);
    font-family: "kanit";
    font-size: 19px;
    border-style: groove;
    border-width: 2px;
    align-self: center;
    text-align: center;
}

.Knowledge-choice a:hover {
    cursor: pointer;
    transition: .2s;
    color: rgb(235, 245, 251);
    background-color: rgb(58, 93, 127);
}






@media (max-width: 900px) {
    .menu .choice2 {
        background: none;
        text-shadow: 0 0 15px rgb(15, 77, 117);
    }
} 
