@import url('https://fonts.googleapis.com/css?family=Baloo Bhai');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

header {
    background-color: white;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
}

.menu {
    background-color: rgb(227, 241, 255);
    padding: 15px 20px;
    height: 35px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgb(187, 194, 203);
    margin: 7px;

    display: flex;
    align-items: center;
    justify-content: right;
}

.menu .main {
    position: absolute;
    left: 25px;
    margin-left: 20px;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Baloo Bhai';
    color: rgb(54, 48, 98);
    cursor: pointer;
    text-decoration: none;
}

.menu li a{
    margin:10px;
    font-size: 17px;
    font-family: 'Noto Sans Thai';
    color: rgb(54, 48, 98);
    padding: 1.25rem 1rem 1.26rem;
}

.menu li a:hover {
    background-color: rgb(142, 197, 250);
    transition: 0.5s;
}

.menu li a:active {
    background-color: rgb(109, 156, 199);
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0px;
}

.Search:hover input{
    width: 100px;
}

.Search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.Search a .fas{
    color: rgb(142, 197, 250);
    font-size: 18px;
}


#check{
    display: flex;
}
.checkbtn{
    margin: 7px 40px 7px;
    font-size: 3rem;
    font-size: 1.5rem;
    color: rgb(54, 48, 98);
    padding: .5rem 1rem;
    border-radius: .5rem ;
    border: .1rem solid rgba(33, 97, 140,.2);
    cursor: pointer;  
    display: none;  
}

@media (max-width: 870px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 200px;
        height: 270px;
        background: rgb(176, 210, 232);
        top: 80px;
        right: .8rem;
        text-align: center;
        transition: all .5s;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgb(187, 194, 203);
    }
    .menu ul a{
        font-size: 20px;
        margin:.5rem;
        padding:.5rem;
        display: block;
    }

    .menu ul a:hover{
        background: none;
        color: white;
        transition: .2s;
    }

    #check:checked ~ ul{
        right: 0;
    }
} 
