.allCard {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    margin: 0 3.5%;
    grid-gap: 20px;
    justify-content: space-between;
}
.card {
    border-style: groove;
    border-width: 2px;
    border-color: rgb(174, 214, 241);
    background-color: rgb(232, 246, 255);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 0 15px rgb(184, 220, 244);
    border-radius: 15px;
    text-align: right;
}

.card img {
    border-style: groove;
    border-color: rgb(184, 202, 229);
    align-self: center;
    width: auto;
    height: 150px;
}

.card a {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}









@media (min-width: 1600px) {
    .allCard {
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        grid-gap: 10px;
    }
}

@media (max-width: 1250px) {
    .card img {
        height: 100px;
    }
}

@media (max-width: 950px) {
    .allCard {
        grid-template-columns: 49% 49%;
    }
}

@media (max-width: 700px) {
    .allCard {
        margin: 10px;
    }

    .card {
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .allCard {
        grid-template-columns: 100%;
        grid-gap: 0px;
    }

    .card img {
        height: 150px;
    }
}

@media (max-width: 400px) {
    .card {
        font-size: .8rem;
    }

    .card img {
        height: 100px;
    }

    .card a {
        font-size: .9rem;
    }
}

@media (max-width: 300px) {
    .card {
        font-size: .7rem;
        padding: 20px;
    }

    .card img {
        height: 90px;
    }

    .card a {
        font-size: .8rem;
    }
}