@import url('https://fonts.googleapis.com/css?family=Baloo Bhai');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

.container {
    background-color: white;
    background-size: cover;
}

* {
    font-family: 'Noto Sans Thai';
    padding: 0;
    margin: 0;
}

.menu {
    background-color: rgb(227, 241, 255);
    padding: 20px;
    height: 35px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgb(187, 194, 203);
    margin: 7px;

    display: flex;
    align-items: center;
    justify-content: right;
}

.menu .main {
    position: absolute;
    left: 25px;
    margin-left: 20px;
    font-size: 2.1rem;
    font-weight: bold;
    font-family: 'Baloo Bhai';
    color: rgb(54, 48, 98);
    cursor: pointer;
    text-decoration: none;
}

.menu li a {
    text-decoration: none;
    margin: 10px;
    font-size: 19px;
    font-family: 'Noto Sans Thai';
    color: rgb(54, 48, 98);
    padding: 1.45rem 1rem;
}

.menu ul li a:hover {
    color: white;
    text-shadow: 0 0 15px black;
    background-color: rgb(142, 197, 250);
    transition: 0.3s;
}

.menu li a:active {
    background-color: rgb(109, 156, 199);
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0px;
}

.Search input {
    width: 100px;
    outline: none;
    border: none;
    font-weight: 500;
    background: transparent;
    padding: 10px;
    margin-right: -20px;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.Search a .fas {
    margin: 0;
    color: rgb(142, 197, 250);
}


#check {
    display: none;
}

.checkbtn {
    margin: 7px 0px 7px;
    font-size: 3rem;
    font-size: 1.5rem;
    color: rgb(54, 48, 98);
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: .1rem solid rgba(33, 97, 140, .2);
    cursor: pointer;
    display: none;
}

.main-body .heading {
    background-color: rgb(135, 196, 255);
    margin: 2%;
    padding: .7rem;
    width: 200px;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 1px 0 #1B4F72,
        1px 1px 0 #1B4F72,
        1px -1px 0 #1B4F72,
        -1px -1px 0 #1B4F72;
    border-radius: 20px;
    box-shadow: 2px 2px grey;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.first-content .content a {
    width: 50%;
    text-align: center;
    position: relative;
}

.first-content .content img {
    width: 90%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(156, 205, 255);
    box-shadow: 0 0 10px rgb(156, 205, 255);
}

.first-content .content div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: bold;
    align-self: center;
    width: 53%;
    padding: 15px;
    text-shadow: -1px 1px 0 #1B4F72,
        1px 1px 0 #1B4F72,
        1px -1px 0 #1B4F72,
        -1px -1px 0 #1B4F72;
    border-radius: 15px;
    color: white;
    background-color: rgba(156, 205, 255, 0.9);
}

.Kn-content .allCard {
    margin-top: 65px;
    margin-inline: 5.5%;
}

.swiper {
    margin-top: -45px;
}

.Kn-content .swiper-button-prev {
    color: rgb(54, 48, 98);
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 8px;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
    margin-inline: 7px;
}

.Kn-content .swiper-button-next {
    color: rgb(54, 48, 98);
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
    margin-inline: 7px;
}

@media (max-width: 950px) {
    .checkbtn {
        display: block;
    }

    .main-body .heading {
        font-size: 1.5rem;
    }

    .first-content .content div {
        font-size: 1.5rem;
    }

    .menu ul {
        z-index: 1;
        position: absolute;
        width: 200px;
        height: 35%;
        background: rgb(184, 223, 249);
        top: 80px;
        right: .8rem;
        text-align: center;
        transition: all .5s;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: 0px 0px 15px rgb(177, 184, 194);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu ul a {
        font-size: 18px;
        margin: .5rem;
        padding: .5rem;
    }

    .menu ul li a:hover {
        background: none;
        color: white;
        text-shadow: 0 0 15px rgb(4, 102, 167);
        transition: .3s;
    }

    #check:checked~.menu ul {
        opacity: 1;
    }

    .first-content .content a {
        width: 100%;
        margin: 0 20px;
    }
}

@media(max-width: 700px) {
    .menu .main {
        font-size: 2rem;
        margin: 5px;
    }

    .main-body .heading {
        font-size: 1.3rem;
    }

    .first-content .content div {
        font-size: 1.2rem;
    }

    .first-content .content img {
        height: 300px;
    }

    .menu ul {
        width: 40%;
        height: 300px;
        top: 80px;
    }
}

@media(max-width: 500px) {
    .menu {
        padding: 15px;
    }

    .menu .main {
        margin-left: 10px;
        font-size: 1.5rem;
    }

    .checkbtn {
        margin: 0px;
        padding: .5rem;
        font-size: 1rem;
    }


    .main-body .heading {
        padding: 8px;
        width: 180px;
    }

    .first-content .content div {
        padding: 7px;
    }

    .first-content .content img {
        height: 220px;
    }

    .menu ul {
        width: 40%;
        height: 180px;
        top: 80px;
    }

    .menu ul li a {
        margin: .2rem;
    }

    .menu li a {
        font-size: small;
    }

    .Search input {
        width: 70px;
    }
}

@media (max-width: 400px),
(max-height: 400px) {
    .checkbtn {
        font-size: .8rem;
        margin-left: -10px;
    }

    .menu {
        box-shadow: 0px 0px 15px rgb(198, 205, 214);
    }

    .menu .main {
        font-size: 1.4rem;
        margin-left: 3px;
    }

    .main-body .heading {
        font-size: 1rem;
        padding: 7px;
        width: 120px;
    }

    .first-content .content div {
        font-size: .9rem;
        width: 150px;
        padding: 7px;
    }

    .first-content .content img {
        height: 200px;
    }

    .menu ul {
        width: 110px;
        height: 120px;
        top: 60px;
    }

    .menu ul li a {
        margin: 0;
        padding: .3rem;
        display: block;
    }

    .menu li a {
        font-size: .7rem;
    }

    .Search input {
        width: 40px;
        font-size: 10px;
        font-weight: 300;
    }

}